---
version: '3'

services:
  zabbix:
    container_name: "{{ zabbix_container_name }}"
    restart: unless-stopped
    image: "{{ zabbix_image }}"
    volumes:
      - /etc/hosts:/etc/hosts:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    ports:
      - "{{ zabbix_host }}:{{ zabbix_port }}:10051"
    ulimits:
      nproc: 65535
      nofile:
        soft: 20000
        hard: 40000
    stop_grace_period: 30s
    sysctls:
      - net.ipv4.ip_local_port_range=1024 65000
      - net.ipv4.conf.all.accept_redirects=0
      - net.ipv4.conf.all.secure_redirects=0
      - net.ipv4.conf.all.send_redirects=0

networks:
 default:
   driver: bridge
   ipam:
     driver: default
     config:
       - subnet:  {{ zabbix_network }}
